@model UserLaundry.LaundryUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllReservations</title>
</head>
<body>
    <div>

        <div>Reservations started</div>
        @foreach (var res in Model.GetUsedReservations())
        {
            @Html.ActionLink("Check if done " + @res.ToString(), "StartWash", new { resid = res.id }) <br />
        }


        <div>Reservations not started</div>
        @foreach (var res in Model.GetNonUsedReservations())
        {
            @Html.ActionLink(@res.ToString(), "StartWash", new { resid = res.id })
            <br />
        }


        @Html.ActionLink("Back", "PickDate", new { userid = Model.name })

    </div>
</body>
</html>
