@model UserLaundry.LaundryUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LaundryUserOverview</title>
</head>
<body>
    <div>
        User: @Model.name <br />

        Paid washes amount: @Model.PaidWashes() <br/>

        Unpaid washes amount: @Model.UnPaidWashes() <br/>

        Todays reservations: <br />
        @if (Model.GetTodaysRes().Count == 0)
        {
            <div>There is no reservations today</div> <br />
        }
        else
        {
            foreach (var res in Model.GetTodaysRes())
            {
                @Html.ActionLink(@res.ToString(), "StartWash", new { resid = res.id })
                <br />
            }
        }

        Future reservations: <br />
        @if (Model.GetFutureRes().Count == 0)
        {
            <div>There is no future reservations</div> <br/>
        }
        else
        {
            foreach (var res in Model.GetFutureRes())
            {
                @res <div> can not be started before @res.reservationDate.GetValueOrDefault()</div><br />
            }
        }

        Machines currently in use <br />
        @if (Model.LaundryRoom1.GetMachinesInUse().Count == 0)
        {
            <div>No machines is currently being used</div> <br/>
        }
        else
        {
            foreach (var machine in Model.LaundryRoom1.GetMachinesInUse())
            {
                @machine <br />
            }
        }
        @Html.ActionLink("Back", "PickDate", new { userid = Model.name })
    </div>
</body>
</html>
