@model UserLaundry.LaundryUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserPage</title>
</head>
<body>
    <div>        
        User name: @Model.name <br/>
        Laundry room: @Model.LaundryRoom1.name <br/>
        <table>
            <thead>Washing times:</thead> 
            @foreach (var wt in @Model.LaundryRoom1.WashTimes)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@wt.ToString(), "Reservation", new { washid = wt.id, userid = Model.name})
                    </td>
                </tr>

            }
            @Html.ActionLink("Back", "PickDate", new { userid = Model.name })
        </table>





    </div>
    </body>
</html>
