@model UserLaundry.Models.Wrapper

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserPage</title>
</head>
<body>
    <div>
        User name: @Model.LaundryUser.name <br />
        Laundry room: @Model.LaundryUser.LaundryRoom1.name <br />
        <table>
            <thead>Washing times:</thead>
            @foreach (var wt in @Model.LaundryUser.LaundryRoom1.WashTimes)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@wt.ToString(), "Reservation", new { washid = wt.id, userid = Model.LaundryUser.name, resid = Model.Reservation.id })
                    </td>
                </tr>

            }
            @Html.ActionLink("Back", "Back", new { resid = Model.Reservation.id })
        </table>





    </div>
</body>
</html>

