@model UserLaundry.LaundryUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserPage</title>
</head>
<body>
    <div>
        User name: @Model.name <br />
        Laundry room: @Model.LaundryRoom1.name <br />
        <table>
            <thead>Washing times:</thead>
            @foreach (var wt in @Model.LaundryRoom1.WashTimes)
            {
                <tr>
                    <td>

                        @if (!wt.checkWashTime(Model.Reservations.LastOrDefault()))
                        {
                            @Html.ActionLink(@wt.ToString(), "WashTimePicked", new { washid = wt.id, resid = Model.Reservations.LastOrDefault().id })
                        }
                    </td>
                </tr>

            }
            @Html.ActionLink("Back", "Back", new { resid = Model.Reservations.LastOrDefault().id, userid = Model.name })
        </table>





    </div>
</body>
</html>

