@model UserLaundry.LaundryUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reservation</title>
</head>
<body>
    <div>
        @if (!Model.LaundryRoom1.checkIfMaxRes(Model))
        {
            foreach (var machine in Model.LaundryRoom1.FindMachinesAvailable(Model.Reservations.LastOrDefault()))
            {
                @Html.ActionLink(@machine.ToString(), "Reserved",
                new { resid = Model.Reservations.LastOrDefault().id, machineid = machine.id })
                <br />
            }
            @Html.ActionLink("Go to reservations", "AllReservations", new { userid = Model.name })
        }
        else if ((Model.LaundryRoom1.FindMachinesAvailable(Model.Reservations.LastOrDefault()).Count == 0))
        {
            <div>There is no available machines try another date</div>
            @Html.ActionLink("Back", "PickDate", new { userid = Model.name })
        }
        else
        {
            <div>You can not add more machines to your reservations since you reached the allowed amount: @Model.LaundryRoom1.maxReservationPerUser.GetValueOrDefault()</div>
            @Html.ActionLink("Go to reservations", "AllReservations", new { userid = Model.name })
        }

    </div>
</body>
</html>