@model UserLaundry.Reservation

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartWash</title>
</head>
<body>
    <div>
        @foreach (var m in Model.Machines)
        {
            @m.machineType <br/>

            foreach (var program in m.MachinePrograms)
            {
               
                if (!@m.start.GetValueOrDefault())
                {
                    if (!@Model.checkMachine(m))
                    {
                        @Html.ActionLink(program.ToString(), "Start", new {resid = Model.id, programid = program.id})
                        <br/>
                    }
                }
                else if (@Model.findStartedWash(program) != null)
                {
                    if (@Model.findStartedWash(program).MachineProgram1.TimeLeft(@Model) == 0)
                    {
                        @Html.ActionLink("Take cloth out", "TakeClothOut", new { machine = m.id, resid = Model.id })
                        <br />
                    }
                    else
                    {
                        <div>Wash is done in @Model.findStartedWash(program).MachineProgram1.TimeLeft(@Model) mins </div>
                        @Html.ActionLink("Emergency stop", "TakeClothOut", new { machine = m.id, resid = Model.id })
                        <br />
                    }
                }
            }
        }
            
        
  

        
        @Html.ActionLink("Back", "Back", new { resid = Model.id, userid = Model.LaundryUser1.name })
    </div>
</body>
</html>
